.venv/
__pycache__/
*.py[cod]
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm
*.db
.env.*
!.env.example
!.env.sample
*.pem
*.key
.env
staticfiles/
.coverage
htmlcov/
.pytest_cache/
*.log
.local/
